<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Understanding-Data-Returns" data-toc-modified-id="Understanding-Data-Returns-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Understanding Data Returns</a></span><ul class="toc-item"><li><span><a href="#Handling-NA-values" data-toc-modified-id="Handling-NA-values-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Handling NA values</a></span><ul class="toc-item"><li><span><a href="#Drop-columns-(Recomended)" data-toc-modified-id="Drop-columns-(Recomended)-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Drop columns <b>(Recomended)</b></a></span></li><li><span><a href="#Imputation-(Recomended)" data-toc-modified-id="Imputation-(Recomended)-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Imputation (Recomended)</a></span></li><li><span><a href="#Extension-to-imputation" data-toc-modified-id="Extension-to-imputation-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Extension to imputation</a></span></li></ul></li><li><span><a href="#Handling-Categorical-values" data-toc-modified-id="Handling-Categorical-values-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Handling Categorical values</a></span><ul class="toc-item"><li><span><a href="#Obtaining-categorical-columns" data-toc-modified-id="Obtaining-categorical-columns-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Obtaining categorical columns</a></span></li><li><span><a href="#Category-codes-approach-(Recomended)" data-toc-modified-id="Category-codes-approach-(Recomended)-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Category codes approach <b>(Recomended)</b></a></span></li><li><span><a href="#Label-encoding" data-toc-modified-id="Label-encoding-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Label encoding</a></span></li><li><span><a href="#One-Hot-Encoding" data-toc-modified-id="One-Hot-Encoding-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>One Hot Encoding</a></span><ul class="toc-item"><li><span><a href="#using-encoder" data-toc-modified-id="using-encoder-1.2.4.1"><span class="toc-item-num">1.2.4.1&nbsp;&nbsp;</span>using encoder</a></span></li><li><span><a href="#Dummy-apporach-(Recomended)" data-toc-modified-id="Dummy-apporach-(Recomended)-1.2.4.2"><span class="toc-item-num">1.2.4.2&nbsp;&nbsp;</span>Dummy apporach <b>(Recomended)</b></a></span></li></ul></li></ul></li></ul></li><li><span><a href="#Conclusion" data-toc-modified-id="Conclusion-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Conclusion</a></span></li></ul></div>

# Understanding Data Returns

In [31]:
import pandas as pd
from IPython.display import display

pd.options.display.max_columns = None

data_path = 'data/melb_data.csv'

data = pd.read_csv(data_path)

data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

## Handling NA values

In [15]:
cols_missing_value = [col for col in data.columns if data[col].isnull().any()]
print(cols_missing_value)
for col in cols_missing_value:
    print(str(col) + '-' + str(data[col].dtype))

['Car', 'BuildingArea', 'YearBuilt', 'CouncilArea']
Car-float64
BuildingArea-float64
YearBuilt-float64
CouncilArea-object

### Drop columns <b>(Recomended)</b>

The easiest of all is to drop the column which has Nan values.

In [8]:
reduced_data = data.drop(cols_missing_value, axis = 1)
reduced_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Landsize,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,202.0,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,156.0,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,134.0,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,94.0,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,120.0,-37.8072,144.9941,Northern Metropolitan,4019.0

### Imputation (Recomended)

The issue with dropping the column is that we lose a lot of information which the column might provide to us. Here we try to fill in the missing values, one best way to do is by filling it with the mean. This might not look right, but it does yield a good result.

In [33]:
imputed_data = data.copy()
for col in cols_missing_value:
    if str(col) != 'CouncilArea':
        imputed_data[col] = imputed_data[col].fillna(data[col].mean())
        
imputed_data['CouncilArea'] = imputed_data['CouncilArea'].fillna('Unknown')

for col in ['Car']:#cols_missing_value:
    display(imputed_data[data[col].isnull()].head())
    display(data[data[col].isnull()].head())

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
12221,Ascot Vale,132 The Parade,3,h,985000.0,S,Brad,3/09/2017,4.3,3032.0,3.0,1.0,1.610075,245.0,91.00000,1945.000000,Unknown,-37.77215,144.91144,Western Metropolitan,6567.0
12247,Brunswick East,18 Ethel St,2,h,1023000.0,S,Domain,3/09/2017,4.0,3057.0,2.0,1.0,1.610075,154.0,76.00000,1890.000000,Unknown,-37.77221,144.97537,Northern Metropolitan,5533.0
12259,Clifton Hill,34 Fenwick St,3,h,1436000.0,S,Jellis,3/09/2017,3.6,3068.0,3.0,2.0,1.610075,123.0,128.00000,1990.000000,Unknown,-37.78888,145.00036,Northern Metropolitan,2954.0
12320,Glen Waverley,19 Diamond Av,3,h,1370000.0,S,Fletchers,3/09/2017,16.7,3150.0,3.0,1.0,1.610075,652.0,151.96765,1964.684217,Unknown,-37.87170,145.17267,Eastern Metropolitan,15321.0
12362,Newport,11 Collingwood Rd,4,h,1180000.0,PI,Williams,3/09/2017,6.2,3015.0,4.0,1.0,1.610075,545.0,151.96765,1964.684217,Unknown,-37.84399,144.89125,Western Metropolitan,5498.0

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
12221,Ascot Vale,132 The Parade,3,h,985000.0,S,Brad,3/09/2017,4.3,3032.0,3.0,1.0,NaN,245.0,91.0,1945.0,NaN,-37.77215,144.91144,Western Metropolitan,6567.0
12247,Brunswick East,18 Ethel St,2,h,1023000.0,S,Domain,3/09/2017,4.0,3057.0,2.0,1.0,NaN,154.0,76.0,1890.0,NaN,-37.77221,144.97537,Northern Metropolitan,5533.0
12259,Clifton Hill,34 Fenwick St,3,h,1436000.0,S,Jellis,3/09/2017,3.6,3068.0,3.0,2.0,NaN,123.0,128.0,1990.0,NaN,-37.78888,145.00036,Northern Metropolitan,2954.0
12320,Glen Waverley,19 Diamond Av,3,h,1370000.0,S,Fletchers,3/09/2017,16.7,3150.0,3.0,1.0,NaN,652.0,NaN,NaN,NaN,-37.87170,145.17267,Eastern Metropolitan,15321.0
12362,Newport,11 Collingwood Rd,4,h,1180000.0,PI,Williams,3/09/2017,6.2,3015.0,4.0,1.0,NaN,545.0,NaN,NaN,NaN,-37.84399,144.89125,Western Metropolitan,5498.0

As you can see many `NaN` values have been replaces in the `imputed_data` dataframe compared to the `data` dataframe.

### Extension to imputation

Another thing we can do is that we can add a new column which states whether the data has been added during preprocessing or was present in the dataset itself. We can add a Boolean column which states True for existing data and False for the rows, where we have added the mean value.

Note: We have to do this for each column for which we get a NaN valued row.

In [32]:
imputed_extension_data = data.copy()
for col in cols_missing_value:
    if col != 'CouncilArea':
        imputed_extension_data[col] = imputed_extension_data[col].fillna(data[col].mean())
        imputed_extension_data[col + '_was_missing'] = data[col].isnull()
imputed_extension_data['CouncilArea'] = imputed_extension_data['CouncilArea'].fillna('Unknown')
imputed_extension_data['CouncilArea_was_missing'] = data['CouncilArea'].isnull()


for col in ['Car']:#cols_missing_value:
    display(imputed_extension_data[data[col].isnull()].head())
    display(data[data[col].isnull()].head())

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Car_was_missing,BuildingArea_was_missing,YearBuilt_was_missing,CouncilArea_was_missing
12221,Ascot Vale,132 The Parade,3,h,985000.0,S,Brad,3/09/2017,4.3,3032.0,3.0,1.0,1.610075,245.0,91.00000,1945.000000,Unknown,-37.77215,144.91144,Western Metropolitan,6567.0,True,False,False,True
12247,Brunswick East,18 Ethel St,2,h,1023000.0,S,Domain,3/09/2017,4.0,3057.0,2.0,1.0,1.610075,154.0,76.00000,1890.000000,Unknown,-37.77221,144.97537,Northern Metropolitan,5533.0,True,False,False,True
12259,Clifton Hill,34 Fenwick St,3,h,1436000.0,S,Jellis,3/09/2017,3.6,3068.0,3.0,2.0,1.610075,123.0,128.00000,1990.000000,Unknown,-37.78888,145.00036,Northern Metropolitan,2954.0,True,False,False,True
12320,Glen Waverley,19 Diamond Av,3,h,1370000.0,S,Fletchers,3/09/2017,16.7,3150.0,3.0,1.0,1.610075,652.0,151.96765,1964.684217,Unknown,-37.87170,145.17267,Eastern Metropolitan,15321.0,True,True,True,True
12362,Newport,11 Collingwood Rd,4,h,1180000.0,PI,Williams,3/09/2017,6.2,3015.0,4.0,1.0,1.610075,545.0,151.96765,1964.684217,Unknown,-37.84399,144.89125,Western Metropolitan,5498.0,True,True,True,True

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
12221,Ascot Vale,132 The Parade,3,h,985000.0,S,Brad,3/09/2017,4.3,3032.0,3.0,1.0,NaN,245.0,91.0,1945.0,NaN,-37.77215,144.91144,Western Metropolitan,6567.0
12247,Brunswick East,18 Ethel St,2,h,1023000.0,S,Domain,3/09/2017,4.0,3057.0,2.0,1.0,NaN,154.0,76.0,1890.0,NaN,-37.77221,144.97537,Northern Metropolitan,5533.0
12259,Clifton Hill,34 Fenwick St,3,h,1436000.0,S,Jellis,3/09/2017,3.6,3068.0,3.0,2.0,NaN,123.0,128.0,1990.0,NaN,-37.78888,145.00036,Northern Metropolitan,2954.0
12320,Glen Waverley,19 Diamond Av,3,h,1370000.0,S,Fletchers,3/09/2017,16.7,3150.0,3.0,1.0,NaN,652.0,NaN,NaN,NaN,-37.87170,145.17267,Eastern Metropolitan,15321.0
12362,Newport,11 Collingwood Rd,4,h,1180000.0,PI,Williams,3/09/2017,6.2,3015.0,4.0,1.0,NaN,545.0,NaN,NaN,NaN,-37.84399,144.89125,Western Metropolitan,5498.0

## Handling Categorical values

### Obtaining categorical columns

In [57]:
labels = (data.dtypes == 'object')
categorical_columns = data.columns[labels]
display(categorical_columns)
## But for now we will only focus on Type, Method and Regionname
categorical_columns = ['Type', 'Method', 'Regionname']

Index(['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'Date', 'CouncilArea',
       'Regionname'],
      dtype='object')

### Category codes approach <b>(Recomended)</b>

In [98]:
cat_data = data.copy()
cat_data[categorical_columns] = cat_data[categorical_columns].astype('category')

In [101]:
for cat in categorical_columns:
    cat_data[cat + '_category'] = cat_data[cat].cat.codes
display(cat_data)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Type_category,Method_category,Regionname_category
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,0,1,2
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,0,1,2
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,0,3,2
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,0,0,2
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,0,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,0,1,4
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,0,3,6
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,0,1,6
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,0,0,6
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,0,3,6

### Label encoding

In [47]:
from sklearn.preprocessing import LabelEncoder

In [48]:
label_encoder = LabelEncoder()

In [103]:
encoded_data = data.copy()
for cat in categorical_columns:
    encoded_data[cat + '_category'] = label_encoder.fit_transform(encoded_data[cat])

In [104]:
display(encoded_data)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Type_category,Method_category,Regionname_category
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,0,1,2
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,0,1,2
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,0,3,2
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,0,0,2
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,0,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,0,1,4
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,0,3,6
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,0,1,6
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,0,0,6
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,0,3,6

### One Hot Encoding

#### using encoder

In [106]:
from sklearn.preprocessing import OneHotEncoder

In [112]:
one_hot_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)

In [116]:
one_hot_data = data.copy()

In [119]:
oh_data = pd.DataFrame(one_hot_encoder.fit_transform(data[categorical_columns]))
oh_data.index = data.index
one_hot_data = one_hot_data.join(oh_data)
display(one_hot_data)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

<b>Note: We need to join the new dataframe into our existing dataframe. Also make sure that the index is put into the new dataframe so that joining is easier</b>

#### Dummy apporach <b>(Recomended)</b>

In [121]:
dummy_df = pd.get_dummies(data[categorical_columns], prefix=['Type_is', 'Method_is', 'Regionname_is'])
dummy_df.index = data.index
dummy_encoded_data = data.join(dummy_df)

In [122]:
display(dummy_encoded_data)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Type_is_h,Type_is_t,Type_is_u,Method_is_PI,Method_is_S,Method_is_SA,Method_is_SP,Method_is_VB,Regionname_is_Eastern Metropolitan,Regionname_is_Eastern Victoria,Regionname_is_Northern Metropolitan,Regionname_is_Northern Victoria,Regionname_is_South-Eastern Metropolitan,Regionname_is_Southern Metropolitan,Regionname_is_Western Metropolitan,Regionname_is_Western Victoria
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,4.0,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,3.0,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,3.0,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,4.0,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0

# Conclusion

- Handing NaN values
 - Drop column(Not recomended)
 - <b>Imputation(recomended)</b>
 - Extended Imputation (sometimes is usefull)
 <br><br>
- Categorical Values
 - Using Category number
   - <b>Category codes(Recomended as no dependency on sklearn)</b>
   - Label Encoder (uses sklearn)
 - One Hot encoding
   - Using encoder(dependency on sklear)
   - <b>Dummy approach(Recomended)</b>